TELEGRAM_CALL_PUBLIC_BASE_URL=""
TELEGRAM_CALL_PROFILES_JSON='{}'
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CALL_CHAT_ID=""
TELEGRAM_BOT_API_BASE_URL="https://api.telegram.org"
TELEGRAM_CALL_CONFIG_FILE=""
TELEGRAM_CALL_DEFAULT_PROFILE="main"
TELEGRAM_CALL_BUTTON_TEXT="接听"
TELEGRAM_CALL_MESSAGE_TEXT="来自 {label} 的语音来电"
TELEGRAM_CALL_DISABLE_NOTIFICATION="false"
TELEGRAM_CALL_ACCOUNT_ID="default"
TELEGRAM_CALL_MIRROR_REPLIES="false"
